.top-bar {
    background: #DDD;
    height: 2.2em;
}

.phone-img {
    position: relative;
    left: 3.25em;
    top: 0.4em;
}

.phone-text {
    margin-left: 3.4em;
}

.top-nav {
    float: right;
    list-style: none;
    margin-top: -1.4em;
}

.top-nav li {
    display: inline-block;
}

.top-nav li a{
    color: #D60202;
    display: inline-block;
    margin-right: 1em;
}

.top-nav li a:hover {
    color: #20a781;
}

header {
    display: inline-block;
}

.logo {
    float: left;
    margin-left: 3.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 9.5em;
}
header form {
    float: left;
    margin-left: 2em;
    margin-top: 3em;
}

input[type=text] {
    background-color: rgba(210, 201, 207, 0.26);
    width: 20em;
    color: #666;
    border: none;
    padding: 0.8em;
}

input:focus {
    outline: none;
}

input[type=submit] {
    background-color: #EA028A;
    border: none;
    padding: 0.8em 0.8em 0.8em 3.2em;
    cursor: pointer;
}

input[type=submit] :hover {
    color: #20a781;
}

.shoping-card {
    float: right;
    position: absolute;
    top: 6em;
    right: 5em;
}

.shoping-card:hover +.shoping-details {
    display: block;
    width: 13em;
    height: 6em;
    background: #fff;
    position: absolute;
    right: 5em;
    top: 7em;
    border: 1px solid #eee;
    line-height: 2em;
    padding-right: 0.5em;
}

.shoping-details {
    display: none;
}

.menu {
    background-color: #000;
}

.hotline {
    position: absolute;
    right: 3em;
    font-size: 0.8em;
    top: 15.8em;
    color: #fff;
}

.main-nav {
    margin-left: 5em;
    position: relative;
}

.main-nav li {
    display: inline-block;
    line-height: 3em;
    width: 5em;
    height: 3em;
    text-align: center;
}

.main-nav a{
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
    display: inline;

}

.main-nav li:hover {
    background-color: #C30374
}

.main-nav li:hover .nav-second {
    display: block;
}

.main-nav li .nav-second {
        background: red;
        position: absolute;
        width: 8em;
}

.main-nav li .nav-second li {
    width: 8em;
    color: #D60722;
}

.nav-second {
    display: none;
}

.third-nav {
    display: none;
}
