/*
  Shop Bootstrap Sass Theme
  Author: caocuongccc
  Version: 0.0.1
*/
/* BASE - Base style, variable, mixins, etc */
ul li {
  list-style: none; }
ul li a {
  text-decoration: none; }
  ul li a:hover {
    text-decoration: none; }

img {
  width: 100%; }

/* MODULE - Individual site components */
.video {
  padding: 30px 5px 40px 5px; }

.news a {
  text-decoration: none;
  font-size: 18px;
  color: #000000; }
.news .news-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #660303; }
.news .news-date {
  color: #9da6ae; }
.news .news-thumbnail {
  width: 100%; }

.slider {
  position: relative; }
  .slider .slide-caption-title {
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -126px;
    left: 50%;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff; }
  .slider .slide-caption-content {
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    margin-left: -112.5px;
    left: 50%;
    font-size: 16px;
    color: #ffffff; }
  .slider .arrow-left {
    position: absolute;
    top: 30%;
    padding-left: 30px; }
    .slider .arrow-left i {
      width: 60px;
      height: 60px;
      background: #14262A;
      padding-left: 19px; }
      .slider .arrow-left i:hover {
        background: #1A2E35; }
  .slider .arrow-right {
    position: absolute;
    top: 30%;
    right: 30px; }
    .slider .arrow-right i {
      width: 60px;
      height: 60px;
      background: #14262A;
      padding-right: 14px; }
      .slider .arrow-right i:hover {
        background: #1A2E35; }
  .slider .indicator-group {
    position: absolute;
    bottom: 20px;
    margin-left: -133px;
    left: 50%;
    overflow: hidden; }
    .slider .indicator-group .indicator-item li a {
      width: 40px;
      height: 2px;
      display: block;
      opacity: 0.3;
      cursor: pointer;
      text-indent: -9999em;
      border: 4px solid #fff;
      background: #fff;
      overflow: hidden;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -o-border-radius: 1px;
      border-radius: 1px; }
    .slider .indicator-group indicator-item li.active {
      opacity: 0.8; }
  .slider .order {
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 7px 12px;
    text-transform: uppercase;
    position: absolute;
    border-radius: 2px;
    top: 35%;
    left: 50%;
    margin-left: -63px;
    left: 50%; }
    .slider .order a {
      text-decoration: none;
      color: #ffffff; }
      .slider .order a:hover {
        text-decoration: none; }
    .slider .order:hover {
      background-color: rgba(255, 255, 255, 0.2) !important;
      border-color: #fff; }

.feature-in .feature-item {
  position: relative;
  width: 100%;
  height: auto;
  width: 100%;
  padding: 30px 5px; }
.feature-in .feature-text, .feature-in .feature-text-3 {
  padding: 5px 0;
  position: absolute;
  top: 120px;
  left: 100px;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 2px solid red;
  border-bottom: 2px solid red; }
.feature-in .feature-text-3 {
  left: 150px; }

.item-shop {
  position: relative; }
  .item-shop a {
    text-decoration: none; }
    .item-shop a:hover {
      text-decoration: none; }
  .item-shop:hover .detail-shop {
    display: block;
    position: absolute;
    bottom: 50px;
    background: #888;
    padding: 10px 0;
    width: 93%;
    color: #FFFFFF;
    text-transform: uppercase; }
    .item-shop:hover .detail-shop:hover {
      background-color: #570303; }
  .item-shop .detail-shop {
    display: none; }
  .item-shop:hover .title-shop {
    color: #660303; }
  .item-shop .title-shop {
    padding-top: 10px;
    color: #000000; }
  .item-shop .break-line {
    font-weight: bold;
    color: #000000; }

/* LAYOUT - Page layout */
.l-footer {
  border-top: solid 1px #ede9dd;
  width: 100%;
  padding-top: 30px; }
  .l-footer .btn-sign {
    margin-top: 10px;
    width: 100%; }
  .l-footer ul li a {
    color: #8f0303; }
    .l-footer ul li a:hover {
      color: #380404; }
  .l-footer .fa-twitter, .l-footer .fa-facebook, .l-footer .fa-camera, .l-footer .fa-envelope {
    color: #404040; }
    .l-footer .fa-twitter:hover, .l-footer .fa-facebook:hover, .l-footer .fa-camera:hover, .l-footer .fa-envelope:hover {
      color: #660303; }

.l-shop .breadcrumb {
  background-color: #FFFFFF; }

.l-main {
  margin-top: 110px; }
  .l-main .new-title {
    color: #000000;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px; }
    .l-main .new-title:hover {
      color: #660303; }
  .l-main .divider {
    border-left: solid 1px #ded6c7;
    padding-bottom: 5px; }
  .l-main .news-date {
    padding: 28px 0px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: solid 1px #ded6c7; }
  .l-main .blog-thumbnail {
    width: 100%; }
  .l-main .blog-header {
    text-transform: uppercase; }
    .l-main .blog-header a {
      color: #660303; }
      .l-main .blog-header a:hover {
        text-decoration: none;
        color: #000000; }

.l-header {
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  opacity: 0.95;
  border-bottom: solid 1px #ded6c7; }

nav ul {
  margin: 0;
  list-style: none; }
  nav ul li {
    position: relative;
    /******************
    SUBNAV
    ******************/ }
    nav ul li a {
      display: block;
      padding: 5px 5px;
      text-align: center;
      color: #3d3c3c;
      text-decoration: none; }
    nav ul li:hover ul {
      opacity: 1;
      max-height: 1000px; }
    nav ul li ul {
      background: white;
      list-style: none;
      padding: 0;
      position: absolute;
      width: 200px;
      max-height: 0;
      z-index: 0;
      opacity: 0;
      overflow: hidden;
      font-size: .9em; }
      nav ul li ul li {
        float: none;
        margin: 0; }
        nav ul li ul li a {
          display: block;
          text-align: left;
          padding: 5px 5px;
          margin: 0;
          border-right: none;
          border-top: 1px solid #e0e0e0;
          box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
          text-transform: none;
          text-shadow: none; }
          nav ul li ul li a:hover {
            color: #8f0303;
            background: white; }

.l-flexslide {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
