/* ------------------BASIC RULE ----------------------*/
body {
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 0.875em;
    background: #FFF;
    line-height: 1.25em;
    color: #666;
}

h1 {
    font-size: 1.2em;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* ------------------COMMON SECTION ----------------------*/
.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}


/* ------------------LAYOUT RULE ----------------------*/

/* ------------------LAYOUT HEADER ----------------------*/

.top-bar {
    background: #DDD;
    height: 2.2em;
}

.phone-img {
    position: relative;
    left: 3.25em;
    top: 0.4em;
}

.phone-text {
    margin-left: 3.4em;
}

.top-nav {
    float: right;
    list-style: none;
    margin-top: -1.4em;
}

.top-nav li {
    display: inline-block;
}

.top-nav li a{
    color: #D60202;
    display: inline-block;
    margin-right: 1em;
}

.top-nav li a:hover {
    color: #20a781;
}

.header {
    display: inline-block;
}

.logo {
    float: left;
    margin-left: 3.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 9.5em;
}
.header form {
    float: left;
    margin-left: 2em;
    margin-top: 3em;
}

input[type=text] {
    background-color: rgba(210, 201, 207, 0.26);
    width: 20em;
    color: #666;
    border: none;
    padding: 0.8em;
}

input:focus {
    outline: none;
}

button {
    margin-left: -0.25em;
    width: 5em;
    height: 2.75em;
    background-color: #EA028A;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #20a781;
}

.shoping-card {
    float: right;
    position: absolute;
    top: 6em;
    right: 3.5em;
}

.icon:after {
    font-family: FontAwesome;
   content: "\f0d7";
   display: inline-block;
   padding-left: 0.3em;
   vertical-align: middle;
}

.shoping-card:hover +.shoping-details {
    display: block;
    width: 20em;
    height: 6em;
    background: #fff;
    position: absolute;
    right: 3.5em;
    top: 7.3em;
    border: 1px solid #eee;
    line-height: 2em;
    padding-right: 0.5em;
}

.shoping-card:hover {
    color: #EA028A;
}

.shoping-details {
    display: none;
}

.menu {
    background-color: #000;
}

.hotline {
    position: absolute;
    right: 4.4em;
    font-size: 0.8em;
    top: 13.3em;
    color: #fff;
}

.main-nav {
    margin-left: 5em;
    position: relative;
}

.main-nav li {
    display: inline-block;
    line-height: 3em;
    width: 5em;
    height: 3em;
    text-align: center;
}

.main-nav a{
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
    display: inline;

}

.main-nav li:hover {
    background-color: #C30374
}

.main-nav li:hover .nav-second {
    display: block;
}

.main-nav li .nav-second {
        background: #fff !important;
        position: absolute;
        width: 12em;
}

.main-nav li .nav-second li {
    width: 12em;
    color: #D60722 !important;
    text-align: left;

}

.main-nav li .nav-second li a {
    color: #D60722 !important;
    margin-left: 1em;

}

.main-nav li .nav-second li a:hover {
    color: #e1e1e1;
}

.nav-second {
    display: none;
}

.third-nav {
    display: none;
}

.transport {
    margin: 0 auto;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.transport-content {
    display: inline-flex;
    color: #666;
    width: 28em;
    margin: 2em 0em 2em 2em;
}

.transport-content:hover {
    color: #000;
    cursor: pointer;
}

.transport-title {
    text-transform: uppercase;
}

.tran-left {
    float: left;
}

tran-right {
    float: right;
}

.wrapper {
    margin: 0 auto;
    width: 76.25em;
}

/* ------------------LAYOUT ASIDE ----------------------*/

.aside {
    width: 18em;
    float: left;
    margin: 0 auto;
}

.asign-header {
    height: 2.5em;
    background: #C30374;
    text-align: center;
}

.fa-align {
    margin-right: 1em;
}

.asign-title {
    padding-top: 0.7em;
    color: #fff;
    text-transform: uppercase;
}

.a-nav {
    background: #f4f4f4;
}

.a-nav li {
    height: 2em;
    padding-top: 1em;
    border-bottom: 1px solid #e1e1e1;
}

.a-nav li a{
    color: #D60202;;
    text-transform: uppercase;
    margin-left: 3em;
}

.a-nav li a:hover {
    color: #20a781;
}

.thumb-seller {
    width: 6em;
    height: 6em;
}

.best-item {
    margin: 0.75em;
    border-bottom: 1px solid #e1e1e1;
}

.wrapper-item {
    display: inline-flex;
}

.seller-name {
    color: #000;
    padding-bottom: 0.5em;
}

.seller-name:hover {
    color: #20a781;
}

.wrapper-text {
    margin-left: 1em;
}

.seller-discount {
    color: #888;
    text-decoration: line-through;
    font-size: 1.1em;
    line-height: 2em;
}

.seller-price{
    color: #CA0000;
    font-size: 1.4em;
}

.seller-null {
    margin-top: 0.7em;
}

.how-work {
    width: 18em;
}

.jim-pic {
    width: 18em;
}

.wrapper-item {
    display: inline-flex;
    margin-top: 0.5em;
}

.news-item {
    margin: 0.5em;
}

.new-title {
    color: #D60202;
}

.new-title:hover {
    color: #20a781;
}

.new-content {
    margin-left: 1em;
    font-size: 0.85em;
}

.statisc-content {
    text-align: center;
    margin: 1em;
}

.count-number {
    margin-left: 6em;
}

.statics-img{
    margin-right: 1em;
    border-bottom: 0.1em dashed #e1e1e1;
}
/* ------------------LAYOUT FOOTER ----------------------*/

.footer {
    background-color: #000;
    height: 5em;
    position: absolute;
}

.contact-us {
    position: fixed;
    bottom: 0.4em;
    right: 1em;
    width: 15em;
    height: 2.2em;
    background: #0281DE;
    border-radius: 1.5em;
    text-align: center;
}

.contact-title {
    top: -10em;
}

.footer-title {
    float: left;
    margin-top: 1em;
    margin-left: 5em;
    color:#fff;
}

.payment {
    margin-top: 0.8em;
    float: right;
    margin-right: 8em;
}

.max-img {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.25em;
}

.contact-details {
    display: none;
}

.delimited {
    margin-left: 0.5em;
    margin-top: -0.2em;
}

/* ------------------LAYOUT PRODUCT ----------------------*/

.main-content {
    width: 75%;
    float: right;
}

.corousel {

    position: relative;
}

.corousel-img {
    width: 57em;
    height: 22em;
}

.new-product {
    height: 22em;
}

.product .demo2-item {
    width: 5em;
}