// import necessary things
@import "normalize";
@import "compass";

@import "compass/css3";

// font-face
@include font-face("ModernPictogramsNormal", font-files("modernpics-webfont.ttf", "modernpics-webfont.woff", "modernpics-webfont.eot", "modernpics-webfont.eot", "modernpics-webfont.svg"));

// color variables
$base: #fff;
$dark: darken($base, 10%);

// dimension variables
$width: 500px;
$space: $width / 25;
$img: image-width("me.jpg") + (($space / 4) * 2);


$color-p: #34dc34;
// selector inheritance 
.float-left {
  float: left;
}
.box-sizing {
  @include box-sizing(border-box);
}

// styles
html { 
  height: 100%;
  background-color: $base;
}
.vcard {
  width: $width;
  margin: 50px auto;
  background-color: darken($base, 5%);
  border: 1px solid $dark;
  @include border-radius(3px);
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  } 
}
.bio {
  border-bottom: 1px solid $dark;
  padding: $space;
  @extend .box-sizing;
  img {
    display: block;
    border: ($space / 4) solid #ffffff;
    @extend .float-left;
  }
  .detail {
    @extend .float-left;
    @extend .box-sizing;
    color: darken($base, 50%);
    margin: {
      left: $space;
      bottom: $space / 2;
    }
    width: $width - (($space * 3) + $img);
    li {
      &:before {
        width: $space;
        height: $space;
        margin-right: $space;
        font-family: "ModernPictogramsNormal";
      }
      &.name:before {
          content: "f";
      }
      &.email:before {
          content: "m";
      }
      &.phone:before {
          content: "N"; 
      }
    }
  }
}
.social {
  background-color: $dark;
  width: 100%;
  padding: $space;
  @extend .box-sizing;
  ul {
    text-align: center;
    li {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
  }
}

.module-parent{
  h1{
    line-height: 1.5em;
    padding-right: 15px;
  }

  h2{
    font-size: 20px;
    font-weight: 700;
  }

  p{
    color: color-p;
    font-size: 14px;
    a{
      color: red;
      &:hover{
        color: #dfdcad;
      }
    }
  }
}

// Border shorthand version
@mixin border($border) {
  border: $border;
}

.message{
  @include border(1px solid #000);
  text-align: center;
  font-size: 16px;
  padding: 20px 10px;
}

.error{
  @extend .message;
  background: red;
}

.success{
  @extend .message;
  background: blue;
}

.warning{
  @extend .message;
  background: yellow;
}