/* ==|====================
   Layout/About
   ======================= */
.l-about {
    display: inline-block;
    width: 93em;
    background-color: red;
    text-align: center;
}

.about-row {
    width: 18.2em;
    display: inline-block;
}