/* ==|====================
   Layout/Aside
   ======================= */

.l-aside {
    width: 17em;
    float: left;
    margin: 0 auto;
}

.asign-header {
    height: 2.5em;
    background: #C30374;
    text-align: center;
}

.fa-align {
    margin-right: 1em;
}

.asign-title {
    padding-top: 0.7em;
    color: #fff;
    text-transform: uppercase;
}

.how-work {
    width: 17em;
}

.jim-pic {
    width: 17em;
}

.wrapper-item {
    display: inline-flex;
    margin-top: 0.5em;
}

