/* ==|====================
   Layout/Aside
   ======================= */

.l-aside {
    width: 17em;
    float: left;
    margin: 0 auto;
}

.how-work {
    width: 17em;
}

.jim-pic {
    width: 17em;
}