.l-top {
    background: #DDD;
    height: 2.2em;
}

.phone-img {
    position: relative;
    left: 3.25em;
    top: 0.2em;
}

.phone-text {
    position: relative;
    left: 3.8em;
    top: -0.3em;
}

.top-nav {
    float: right;
    list-style: none;
    margin-top: -1.4em;
}

.top-nav li {
    display: inline-block;
}

.top-nav li a{
    color: #D60202;
    display: inline-block;
    margin-right: 1em;
}

.top-nav li a:hover {
    color: #20a781;
}