/* ==|====================
   Module/Carousel
   ======================= */

.corousel {
    position: relative;
}

.corousel-img {
    width: 64em;
    height: 22em;
    margin-bottom: 20px;
}

.mark {
    width: 64em;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.mark:hover {
    transform: scale3d(1.05, 1.05, 1);
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
}