.shoping-card {
    float: right;
    position: absolute;
      top: 5.5em;
    right: 0em;
    width: 15em;
}

.shoping-card:hover +.shoping-details {
    display: block;
    width: 20em;
    height: 6em;
    background: #fff;
    position: absolute;
    right: 3.5em;
    top: 7.3em;
    border: 1px solid #eee;
    line-height: 2em;
    padding-right: 0.5em;
    transition: all 10s ease;
}

.icon-shop {
    height: 20px;
    border-radius: 20px;
    background: #EA028A;
    margin-right: 5px
}

.shoping-card:hover {
    color: #EA028A;
}

.shoping-details {
    display: none;
}

.fa-shopping-cart, .fa-heart, .fa-eye{
    color: #FFF;
    margin-top: 5px;
    margin-right: 1px;
}

.bg-icon {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #EA028A;
    text-align: center;
    margin-right: 5px;
    float: left;
    position: relative;
    top: -5px;
}