.shoping-card {
    float: right;
    position: absolute;
    top: 6em;
    right: 3.5em;
}

.shoping-card:hover +.shoping-details {
    display: block;
    width: 20em;
    height: 6em;
    background: #fff;
    position: absolute;
    right: 3.5em;
    top: 7.3em;
    border: 1px solid #eee;
    line-height: 2em;
    padding-right: 0.5em;
    transition: all 10s ease;
}

.icon-shop {
    height: 20px;
    border-radius: 20px;
    background: #EA028A;
    margin-right: 5px
}

.shoping-card:hover {
    color: #EA028A;
}

.shoping-details {
    display: none;
}

.fa-shopping-cart {
    color: #FFF;
    margin-right: 5px;
}