/* ==|====================
   Module/Category
   ======================= */

.a-nav {
    background: #f4f4f4;
}

.a-nav li {
    height: 2em;
    padding-top: 1em;
    border-bottom: 1px solid #e1e1e1;
}

.a-nav li a{
    color: #D60202;;
    text-transform: uppercase;
    margin-left: 3em;
}

.a-nav li a:hover {
    color: #20a781;
}