/* ==|====================
   Module/Product with 4 items
   ======================= */
.demo2-item {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-bottom: 30px;
}

.product-header{
    margin-bottom: 1.5em;
}

.product-image {
    position: relative;
}

.product-img {
    width: 13em;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out
    -moz-transition: all 0.2s ease-in-out
}

.product-img:hover {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);

}
.new {
    position: absolute;
    right: 1.5em;
    top: -14px;
}

.item4-name {
    color: #333;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.item4-name:hover {
    color: #20a781;
}

.item2-name {
    color: #333;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.btn-group {
    position: relative;
}

.bg-thumb {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: #666;
    text-align: center;
    margin-right: 5px;
    float: left;
    position: relative;
}

.bg-thumb:hover{
    background-color: #20a781;
}

.btn-group {
    display: none;
}

.product-image:hover .btn-group{
    display: block;
    position: absolute;
    left: 65px;
    bottom: 15px;
}