/* ------------------LAYOUT PRODUCT ----------------------*/

.main-content {
    width: 64em;
    float: right;
}

.corousel {
    position: relative;
}

.corousel-img {
    width: 64em;
    height: 22em;
}

.product-header{
    margin-bottom: 2em;
}

.product {

}

.product-image {
    position: relative;
}

.product-img {
    width: 13em;
}

.new {
    position: absolute;
    right: 0em;
    top: -5px;
}

.view-detail {
    position: absolute;
    bottom: 1.5em;
    left: 6em;
}

.add-card {
    position: absolute;
    bottom: 1.5em;
    left: 4em;
}

.add-whishlist {
    position: absolute;
    bottom: 1.5em;
    left: 8em;
}

.demo2-item {
    display: inline-block;
    width: 24%;
    margin-left: 0.25em;
}

.demo3-items {
    display: inline-block;
    width: 33%;
}

.item2-name {
    text-align: center;
}