/* ==|====================
   Module/Product with 4 items
   ======================= */
.demo2-item {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-bottom: 30px;
}

.product-header{
    margin-bottom: 1.5em;
}

.product-image {
    position: relative;
}

.product-img {
    width: 13em;
}

.new {
    position: absolute;
    right: 1.5em;
    top: -14px;
}

.view-detail {
    position: absolute;
    bottom: 1.5em;
    left: 6em;
}

.add-card {
    position: absolute;
    bottom: 1.5em;
    left: 4em;
}

.add-whishlist {
    position: absolute;
    bottom: 1.5em;
    left: 8em;
}

.item4-name {
    color: #333;
    display: inline-block
}

.item4-name:hover {
    color: #20a781;
}

.item2-name {
    color: #333;
    display: inline-block
}

.btn-group {
    position: relative;
    left: 65px;
    top: -40px;
}

.bg-thumb {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #666;
    text-align: center;
    margin-right: 5px;
    float: left;
    position: relative;
    top: -5px;
}