.feature-in {
  .feature-item {
  position: relative;
  width: 100%;
  height: auto;
    width: 100%;
    padding: 30px 5px;
  }
  .feature-text {
    padding: 5px 0;
    position: absolute;
    top: 120px;
    left: 100px;
    text-transform: uppercase;
    color: $color-background-white;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
  }

  .feature-text-3 {
    @extend .feature-text;
    left: 150px;
  }

  
}
